In [15]:
import pandas as pd

In [18]:
df = pd.read_csv('../dataset2/data2A_첫행날리기전_라벨링하고부도이후날림.csv', index_col= 0 )

In [19]:
df

,회사명,거래소코드,회계년도,감사의견코드,산업코드,산업명,설립일,기업규모코드,기업규모명,통계청 한국표준산업분류 코드 10차(대분류),...,new_순이익증가율,new_유형자산증가율,new_유동자산증가율,new_영업이익증가율,new_재고자산증가율,new_매출액증가율,new_비유동자산증가율,감사의견_y,자본잠식률_100,자본잠식률_50
0,(주)포스코건설,10000,2012-12-01,UQ,64102,토목 건설업,1994/12/01,10.0,대기업,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,b,c
1,(주)포스코건설,10000,2013-12-01,UQ,64102,토목 건설업,1994/12/01,10.0,대기업,41,...,-71.478710,40.756393,-18.258059,13.631720,-16.164419,14.016854,4.081387,a,b,c
2,(주)포스코건설,10000,2014-12-01,UQ,64102,토목 건설업,1994/12/01,10.0,대기업,41,...,-86.472926,5.344684,-12.449193,-31.415835,-8.092776,-6.396890,17.867219,a,b,c
3,(주)포스코건설,10000,2015-12-01,UQ,64102,토목 건설업,1994/12/01,10.0,대기업,41,...,127.038293,-4.509898,6.351912,-11.590310,-34.770304,-13.012219,-1.042386,a,b,c
4,(주)포스코건설,10000,2016-12-01,UQ,64102,토목 건설업,1994/12/01,10.0,대기업,41,...,-2616.490936,-10.676382,-5.085581,-173.802637,54.677241,-15.921085,-8.134513,a,b,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177573,주식회사밸리온,101563,2022-12-01,UQ,137103,광고업,2011/07/29,0.0,NaN,71,...,-187.186038,-99.996809,38.874925,-5290.426318,NaN,180.772919,46.174475,a,b,c
177574,주식회사두루안,101635,2020-12-01,NaN,105802,소프트웨어 개발 및 공급업,2007/10/15,20.0,중소기업,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,b,c
177575,주식회사두루안,101635,2021-12-01,UQ,105802,소프트웨어 개발 및 공급업,2007/10/15,20.0,중소기업,58,...,317.304431,-1.374490,58.085287,-7.162331,7.322329,1.872254,-1.302387,a,b,c
177576,주식회사두루안,101635,2022-12-01,UQ,105802,소프트웨어 개발 및 공급업,2007/10/15,20.0,중소기업,58,...,-51.677152,54.399781,10.261314,-403.105893,63.082647,-12.227925,27.676594,a,b,c
177577,넬코리아주식회사,101667,2020-12-01,NaN,64102,토목 건설업,2017/08/08,20.0,중소기업,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,B,c

In [20]:
# 라벨링 조건에 따라 'y' 컬럼 생성
df['y'] = ((df['감사의견_y'] == 'A') | 
        (df['자본잠식률_100'] == 'B') | 
        (df['자본잠식률_50'] == 'C')).astype(int)

# 결과 확인
df[['감사의견_y', '자본잠식률_100', '자본잠식률_50', 'y']].head()

  감사의견_y 자본잠식률_100 자본잠식률_50  y
0      a         b        c  0
1      a         b        c  0
2      a         b        c  0
3      a         b        c  0
4      a         b        c  0

In [21]:
df[['감사의견_y', '자본잠식률_100', '자본잠식률_50', 'y']]

       감사의견_y 자본잠식률_100 자본잠식률_50  y
0           a         b        c  0
1           a         b        c  0
2           a         b        c  0
3           a         b        c  0
4           a         b        c  0
...       ...       ...      ... ..
177573      a         b        c  0
177574      a         b        c  0
177575      a         b        c  0
177576      a         b        c  0
177577      a         B        c  1

[177578 rows x 4 columns]

In [22]:
df.to_csv('../dataset2/data2A_첫행날리기전_부도이후날리고y라벨링.csv')